Model/NuxeoDataControlloadDataSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="html">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="head">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="meta" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:attribute name="charset" type="xsd:string"/>
                  <xsd:attribute name="name" type="xsd:string"/>
                  <xsd:attribute name="content" type="xsd:string"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="title" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="body">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="h1" type="xsd:string"/>
              <xsd:element name="p">
                <xsd:complexType mixed="true">
                  <xsd:sequence>
                    <xsd:element name="a">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="href" type="xsd:string"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="lang" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
